<style type="text/css">
#caja{
	background:#09F;
	width:320px;
	border:1px solid white;
	margin:30px auto;
	padding:1em;
	border-radius:0px;
}
h1,h2,h3,h4{
	font-family:arial;
	color:#0080ff;
}
input[type=text],input[type=password]{
	margin:0 0 1em 0;
	width:200px;
	border:0px;
	padding:1em;
	border-radius:3px;
}
input[type=submit], form a{
	padding:1em;
	background:#69F;
	border:none;
	color:white;
	font-family:arial black;
	font-size:14px;
	border-radius:3px;
	text-decoration:none;
	
}
h1,h2,h3,h4{
	font-family:arial;
	color:#FFF;
}

<body>{
	background:#b6b6b6;
}
</style>
<div id="caja">
<h1>Login:</h1>